
@font-face {font-family: char; src: url(Charis400.woff2); font-style: normal; font-weight: normal;}
@font-face {font-family: char; src: url(Charis401.woff2); font-style: italic; font-weight: normal;}
@font-face {font-family: char; src: url(Charis700.woff2); font-style: normal; font-weight: bold;}
@font-face {font-family: char; src: url(Charis701.woff2); font-style: italic; font-weight: bold;}

body {font-family: char, sans-serif;}
